<h1>Pets</h1>

<div id="content">
    <% for pet in @pets %>
        <ul class="pet">
            <li>Name: <%= pet.name %></li>
            <li>Species: <%= pet.species %></li>
            <li>Date rescued: <%= pet.entry %></li>
            <% if pet.owner %>
            <li>Owner: <%= pet.owner.name %></li>
            <% else %>
            <li>Status: <%= pet.is_adoptable? %></li>
            <% end %>
            

        </ul>
    <% end %>
</div>