<div id='content'>
    <h1>Pets</h1>

    <div id="grid">
        <% for pet in @pets %>
            <ul class="grid_item">
                <li>
                    <span>Name:</span> 
                    <span><%= pet.name %></span>
                </li>
                <li>
                    <span>Species:</span> 
                    <span><%= pet.species %></span>
                </li>
                <li>
                    <span>Admission Date:</span> 
                    <span><%= pet.entry %></span>
                </li>

                <% if pet.owner %>
                <li>
                    <span>Adoption Date:</span> 
                    <span><%= pet.exit %></span>
                </li>
                <li>
                    <span>Owner:</span> 
                    <span><%= pet.owner.name %></span>
                </li>

                <% elsif pet.is_adoptable? %>
                <li>
                    <span>Status:</span> 
                    <span>Ready for adoption</span>
                </li>
                <li>
                    <a href="/pets/<%= pet.id %>/adopt">Adopt pet</a>
                </li> 

                <% else %>
                <li>
                    <span>Status:</span> 
                    <span>In observation</span>
                </li>
                <% end %>
            </ul>
        <% end %>
    </div>
</div>