<h1>Pet Adoption Form</h1>

<form action="/pets/<%= @pet.id %>" method="post">
    <label>
        <span>Pet to be adopted:</span> 
        <input type="hidden" name="pet_id" value="<%= @pet.id %>"><%= @pet.name %>    
    </label>
    <label>
        <span>Customer:</span> 
        <select name = "customer_id">
            <% for customer in @customers %>
                <option  value="<%= customer.id %>"><%= customer.name %></option> 
            <% end %>
        </select>
    </label>
    <input type="submit" value="Adopt">
</form>